
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #100c0c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: 'Mulish', sans-serif;
}

.hero-glow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    #fee1263b,
    #ff7a1a30,
    #ff3d0038,
    #fee12636
  );
  filter: blur(70px);
  opacity: 0.7;
  animation: heroGlowRotate 7s linear infinite;
}

@keyframes heroGlowRotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.05);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}


.trusted-slider {
  animation: trustedScroll 20s linear infinite;
}

.trusted-slider:hover {
  animation-play-state: paused;
}

@keyframes trustedScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}



/* Key Benefits */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease forwards;
}

@keyframes imageReveal {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(40px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-imageReveal {
  animation: imageReveal 1.4s ease forwards;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-floatSlow {
  animation: float 6s ease-in-out infinite;
}